{{> header }}
<div class="container">
    <div class="row">
        <form class="form-horizontal diner" data-appid="{{appInfo.authorizerAppid}}">

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">AppInfo</label>
                <div class="col-sm-8">
                    <textarea type="text" rows="15" class="form-control app-info">{{JSONstringify appInfo 4}}</textarea>
                </div>
                <div class="col-sm-2">
                    <div class="help-block">应用服务器 基础数据 有应用服务器维护，只读属性</div>
                    <a href="https://www.zybuluo.com/donglai/note/782546#app-info" target="_blank">查看样本</a>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">ShopCode</label>
                <div class="col-sm-8">
                    <textarea type="text" rows="15" class="form-control diner-code" style="margin-bottom: 15px;">{{JSONstringify dinerCode 4}}</textarea>
                    {{#if dinerCode}}
                    <a class="saveDinerCode btn btn-primary pull-right">保存</a>
                    {{else}}
                    <a class="createDinerCode btn btn-primary pull-right">创建</a>
                    {{/if}}
                </div>
                <div class="col-sm-2">
                    <div class="help-block">LeanCloud 基础数据</div>
                    <a href="https://www.zybuluo.com/donglai/note/782546#leancloud-dinercode" target="_blank">查看样本</a>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">AuthorizerInfo</label>
                <div class="col-sm-8">
                    <textarea type="text" rows="15" class="form-control authorizer-info" disabled>{{JSONstringify authorizerInfo 4}}</textarea>
                </div>
                <div class="col-sm-2">
                    <div class="help-block">微信小程序/公众号用户信息</div>
                    <a href="https://www.zybuluo.com/donglai/note/782546#authorizer-info" target="_blank">查看样本</a>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">CategoryList</label>
                <div class="col-sm-8">
                    <textarea type="text" rows="15" class="form-control" disabled>{{JSONstringify categoryList 1}}</textarea>
                </div>
                <div class="col-sm-2">
                    <div class="help-block">微信小程序类目列表，从微信获取，只读属性</div>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">PageList</label>
                <div class="col-sm-8">
                    <textarea type="text" rows="15" class="form-control" disabled>{{JSONstringify pageList 1}}</textarea>
                </div>
                <div class="col-sm-2">
                    <div class="help-block">微信小程序页面列表，从微信获取，只读属性</div>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">AuthorizationInfo</label>
                <div class="col-sm-8">
                    <textarea type="text" rows="15" class="form-control" disabled>{{JSONstringify authInfo 1}}</textarea>
                </div>
                <div class="col-sm-2">
                    <div class="help-block">微信授权信息，由服务器内部处理，只读属性</div>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">VisitStatus</label>
                <div class="col-sm-8">
                    <a class="change-visit btn btn-block btn-{{#if dinerCode.visible}}primary{{else}}warning{{/if}} pull-right">
                        修改可是状态
                        {{#if dinerCode.visible}}可见{{else}}不可见{{/if}}
                    </a>
                </div>
                <div class="col-sm-2">
                    <div class="help-block">修改小程序线上代码的可见状态</div>
                </div>
            </div>

        </form>
    </div>
</div>
<script>
    var api = {};
    ['put', 'post'].forEach(function (method) {
        api[method] = function (api, data) {
            return $.ajax(api, {
                type: method.toUpperCase(),
                contentType: 'application/json',
                data: JSON.stringify(data)
            })
        }
    });

    var appid = $('form.diner').data('appid');

    $('.saveDinerCode').on('click', saveHandler);
    $('.createDinerCode').on('click', saveHandler);
    function saveHandler (e) {

    	var isSaveDinerCode = $(this).hasClass('saveDinerCode')
        var isCreateDinerCode = $(this).hasClass('createDinerCode')
        var $formGroup = $(e.target).parents('.form-group');
        var $dinerCode = $formGroup.find('textarea.diner-code');
        try {
            var data = JSON.parse($dinerCode.val());
            if (!data) {
                return alert('数据不能为空')
            }
            if (isSaveDinerCode) {
                api.put('/api/shop_wxlite/' + appid, data).success(function () {
                   $.toast({
                        heading: '店铺信息保存完成',
                        text: '保存完成',
                        showHideTransition: 'slide',
                        icon: 'success'
                    })
                }).fail(function (err) {
                    $.toast({
                        heading: '店铺信息保存失败',
                        text: JSON.stringify(err),
                        showHideTransition: 'fade',
                        icon: 'error',
                        hideAfter: 10000
                    })
                })
            }
            if (isCreateDinerCode) {
                api.post('/api/shop_wxlite', data).success(function () {
                   $.toast({
                        heading: '店铺信息创建完成',
                        text: '创建完成',
                        showHideTransition: 'slide',
                        icon: 'success'
                    })
                    $('.saveDinerCode').show();
                    $('.createDinerCode').hide();
                }).fail(function () {
                    $.toast({
                        heading: '店铺信息创建失败',
                        text: JSON.stringify(err),
                        showHideTransition: 'fade',
                        icon: 'error',
                        hideAfter: 10000
                    })
                })
            }
        } catch (e) {
            console.error(e)
            return alert('数据格式错误, 请填写正确的 JSON 格式');
        }
    }
    $(".change-visit").on('click', function () {
        var appid = $(this).parents('form.diner').data('appid');
        api.put(`/api/change_visit/${appid}`).success(function (res) {
            if (res.visible) {
                $(".btn.change-visit").addClass('btn-primary').removeClass('btn-warning').html("修改可是状态-可见")
            } else {
                $(".btn.change-visit").addClass('btn-warning').removeClass('btn-primary').html("修改可是状态-不可见")
            }
            $.toast({
                heading: '店铺状态变更成功',
                text: '完成',
                showHideTransition: 'slide',
                icon: 'success'
            })
        }).fail(function (err) {
            $.toast({
                heading: '店铺状态变更失败',
                text: JSON.stringify(err),
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: 10000
            })
        })
    });
</script>
{{> footer }}