{{> header }}
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {{#each authorizers}}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne_{{@index}}" aria-expanded="false"
                                   aria-controls="collapseOne_{{@index}}">
                                    {{shopName}} - {{masterName}} -
                                    {{#if authorizerStatus}}
                                        <span class="label label-success">已授权</span>
                                    {{else}}
                                        <span class="label label-danger">未授权</span>
                                    {{/if}}
                                </a>
                            </h4>
                            <hr>
                            {{#if authorizerStatus}}
                                <a class="btn btn-link" href="{{siteUrl}}/shops/{{appKey}}">> 详情</a>
                            {{/if}}
                            <a href="javascript:void(0);" data-appkey="{{ appKey }}" class="authLink btn btn-link">授权链接</a>
                            {{#if authorizerStatus}}
                                <a href="https://sso.yingtaohuo.com/shops/{{ shopId }}/tables/list" class="btn btn-link">桌码管理</a>
                                <a href="javascript:void(0);" data-appid="{{authorizerAppid}}" class="resetAccessToken btn btn-link">重置访问令牌</a>
                            {{/if}}
                        </div>
                        <div id="collapseOne_{{@index}}" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <form class="form-horizontal diner-form" data-appid="{{authorizerAppid}}">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label">AppKey</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" disabled value="{{appKey}}">
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="help-block">在本平台内部唯一标识</div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 control-label">AppId</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" disabled
                                                   value="{{authorizerAppid}}">
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="help-block">小程序appId</div>
                                        </div>
                                    </div>

                                    {{#if authorizerStatus}}
                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">TemplateType</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" disabled value="{{wxliteTemplateType}}">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="help-block">小程序模板编号</div>
                                            </div>
                                        </div>

                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">Version</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" disabled value="{{wxliteVersion}}">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="help-block">当前已经发布过的小程序版本</div>
                                            </div>
                                        </div>

                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">Preview</label>
                                            <div class="col-sm-6">
                                                <a class="code-preview btn btn-block btn-primary">生成预览</a>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="help-block">提交一个预览版本, 同时会打开一个二维码</div>
                                            </div>
                                        </div>

                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">SubmitAudit</label>
                                            <div class="col-sm-6">
                                                <a class="code-audit btn btn-block btn-primary">提交审核</a>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="help-block">为该用户单独提交审核一个版本的小程序</div>
                                            </div>
                                        </div>

                                    {{/if}}
                                </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
<div id="qrDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">扫描二维码体验小程序</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <div class="diner-testers"></div>
                    <div class="code-info"></div>
                </div>
                <img style="width: 100%;" class="preview-qr-code">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div id="accessTokenDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">令牌组</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">每次都会生成新的token旧的token将失效</div>
                <span>authorizer_access_token</span>
                <p class="well access-token" style="word-break: break-all;"></p>
                <span>authorizer_refresh_token</span>
                <p class="well refresh-token" style="word-break: break-all;"></p>
            </div>
        </div>
    </div>
</div>
<script>
    var siteUrl = '{{siteUrl}}';
    var api = {};
    ['get'].forEach(function (method) {
        api[method] = function (api) {
            return $.ajax(api, {
                type: method.toUpperCase()
            })
        }
    });
    ['put', 'post'].forEach(function (method) {
        api[method] = function (api, data) {
            return $.ajax(api, {
                type: method.toUpperCase(),
                contentType: 'application/json',
                data: JSON.stringify(data)
            })
        }
    });
    $(".code-preview").on('click', function () {
    	var appid = $(this).parents('form.diner-form').data('appid');
        api.put(`/api/code_commit/${appid}?type=preview`).then(function (res) {
            $("#qrDialog").find('.diner-testers').html('微信ID: ' + res.testers.join(', ') + '可以体验该小程序');
            $("#qrDialog").find('.code-info').html('version: ' + res.version + ', templateId: ' + res.templateId);
            $("#qrDialog").find('.preview-qr-code').attr('src', siteUrl + '/api/wxlite_qrcode/' + appid)
            $("#qrDialog").modal({
                backdrop: 'static',
                show: true,
                keyboard: false
            })
        })
    });
    $(".code-audit").on('click', function () {
        var appid = $(this).parents('form.diner-form').data('appid');
        api.put(`/api/code_submitaudit/${appid}`).then(function () {
            alert('已经提交审核')
        })
    });
    $(".authLink").on('click', function () {
        var appkey = $(this).data('appkey')
        api.get('/api/pre_auth_url/' + appkey).then(function (data) {
        	// 获取 p
        	window.open(data.url, '_blank')
        })
    })
    // 重置访问令牌
    $(".resetAccessToken").on('click', function () {
        var appid = $(this).data('appid')
        api.post('/api/shop_wxlite/' + appid + '/access_token_reset').then(function (data) {
            $("#accessTokenDialog").find(".access-token").html(data.authorizer_access_token)
            $("#accessTokenDialog").find(".refresh-token").html(data.authorizer_refresh_token)
            $("#accessTokenDialog").modal({
                backdrop: 'static',
                show: true,
                keyboard: false
            })
        })
    })
</script>
{{> footer }}